.icon-container {
  display: flex;
  flex-direction: column;
  width: 42px;
  height: 48px;
  margin: 18px 0 18px 0;
  padding: 18px;
  align-items: center;
  justify-content: center;
}
.icon-container:hover {
  border-bottom: 1px solid var(--lightgrey);
}

.icon-image {
  width: 24px;
}
.filters {
  display: flex;
  width: 90px;
  align-items: center;
  justify-content: space-around;
  border: 1px solid var(--grey);
  padding: 10px;
  border-radius: 10px;
}
.filters img {
  width: 14px;
}

.icon-name {
  font-size: 0.75rem;
}

.container-categories {
  width: 80%;
  display: flex;
  justify-content: space-around;
}

.container-categories-general {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
