.card {
  display: flex;
  flex-direction: row;
  padding: 24px !important;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 12px;
  margin-block: 10px;
}

.img {
  width: 124px !important;
  height: 106px !important;
  border-radius: 12px !important;
}

.head {
  display: flex;
  padding: 0px;
}

.body {
  padding: 0px !important;
}

.title {
  padding-left: 20px;
  font-size: medium !important;
}

.txt {
  padding-top: 10px;
  font-weight: 500;
}

.total {
  display: flex;
  justify-content: space-between;
}

.desc {
  color: #717171;
}

.x {
  width: 40px;
  float: inline-end;
}
