:root {
  --black: #000;
  --grey: #717171;
  --white: #fff;
  --primary: #ff385c;
  --lightgrey: #ebebeb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.btn-primary {
  --bs-btn-bg: #ff385c !important;
  --bs-btn-border-color: #ff385c !important;
  --bs-btn-color: white !important;
}

.btn-primary:active {
  --bs-btn-active-bg: #e61e4d  ;
  --bs-btn-active-border-color: #e61e4d  ;
  --bs-btn-active-color: white;
}

.btn-primary:hover {
  --bs-btn-hover-bg: #e31c5f ;
  --bs-btn-hover-border-color: #e31c5f ;
  --bs-btn-hover-color: white;
}
