:root {
  --black: #000;
  --grey: #717171;
  --white: #fff;
  --primary: #ff385c;
  --lightgrey: #ebebeb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}
