.container-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 150px;
}

.card-property {
  height: 385px;
  width: 290px;
  margin: 15px;
  position: relative;
}

.card-top {
  height: 290px;
  object-fit: cover;
  /* border-radius: 20px; */
}

.image-card {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.position-heart {
  position: absolute;
  width: 24px;
  right: 10px;
  top: 10px;
  z-index: 8;
}

.card-bottom {
  line-height: 2;
}

.bottom-title {
  font-size: 14px;
  font-weight: 500;
}

.bottom-description {
  font-size: 12px;
  font-weight: 400;
}

.bottom-price {
  font-size: 14px;
  font-weight: 600;
}

.bottom-span {
  font-size: 14px;
  font-weight: 400;
}
